.container
  background:
    image: url(asset_path("container-bg.png", "image"))
    repeat: repeat-y
    position: center
  .content
    +clearfix
    background: #FFF
    padding: 10px
    margin-top: 30px

header
  z-index: 105
  position: relative
  height: 163px
  .wrapper
    padding: 10px
    position: relative
    background:
      image: url(asset_path("header-bg.png", "image"))
      repeat: no-repeat
      position: -16px -19px
    height: 180px
    .logo
      +grid(3)
      position: absolute
      top: 28px
      left: 20px
      img
        width: 100%
  nav
    +grid(9)
    +omega
    float: right
    ul
      +horizontal-list(10px)
      overflow: visible
      float: right
      padding: 20px 0

      li
        position: relative
        white-space: normal
        width: 145px
        border-left: 1px solid #FFF
        text-align: center
        +box-shadow(-1px 0 0 #F1F1F1)
        &:first-child
          border: 0
          +box-shadow(none)
          ul.submenu
            left: 0
            width: 93.5%
        a, a:link, a:visited, a:focus
          display: block
          padding: 5px 10px
          font-family: 'Muli', sans-serif
          font-size: 1.3em
          font-weight: bold
          line-height: 1.4em
        ul.submenu
          display: none
          padding: 0
          font-size: 0.7em
          position: absolute
          left: 10px
          right: 10px
          width: 88%
          background: #FFF
          background: rgba(0, 153, 255, 0.2)
          font-family: 'Muli', sans-serif
          text-transform: none
          li
            float: left
            margin: 0
            padding: 0
            width: 100%
            white-space: normal
            border: 0
            +box-shadow(none)
            text-align: left
            a, a:link, a:hover, a:visited, a:focus
              background: transparent
              border-top: 1px solid #FFF
              padding: 10px
              font-weight: normal
              &:hover
                background: #FFF
                background: rgba(255, 255, 255, 0.5)

        &:hover
          a, a:link
            background: #FFF
          ul.submenu
            display: block

section#banner
  position: relative
  background: white
  border: 10px solid $blue1
  margin-top: -55px
  padding-top: 35px
  .slide
    float: left
    margin-top: -25px
    .image
      .resize
        width: 725px
        height: 330px
        overflow: hidden
  nav
    $size: 10px
    width: 725px
    z-index: 100
    position: absolute
    top: 170px
    a
      cursor: pointer
      display: block
      font-size: 180%
      font-family: monospace
      font-weight: bold
      padding: 13px 15px
      +box-shadow(0 2px 3px rgba(black, .7))
      position: relative
      +background-image(linear-gradient(#FFF, #F1F1F1))
      &:active
        bottom: -1px
      &:after
        content: ""
        height: 0
        width: 0
        bottom: -$size
        position: absolute
        border-top: $size solid #CCC
    a.next
      float: right
      right: -$size
      &:after
        border-right: $size solid transparent
        right: 0

    a.prev
      float: left
      left: -$size
      &:after
        border-left: $size solid transparent
        left: 0


  ul
    float: right
    margin:
      top: -25px
      left: 0
      bottom: 0
    li
      +background-image(linear-gradient(#FFF, #F1F1F1))
      a
        display: block
        padding: 30px 33px
        line-height: 1.1em
        font-size: 1.7em
        font-family: 'LeagueGothicRegular', Muli, sans-serif
        span
          color: #555
          font-size: 0.8em
        &.first
          z-index: 1000
          position: relative

section#info
  +grid(7)
  +alpha

section#news
  +grid(5)
  +alpha
  margin-bottom: 20px
  ul
    li
      float: none
      padding: 10px 0
      .published
        color: #888
      .title
        font-size: 125%
        padding: 10px 0


section#buckets
  +legacy-pie-clearfix
  ul
    li
      +grid(4)
      &:first-child
        +alpha
      &:last-child
        +omega

footer
  background: #3D3D3D
  color: #F1F1F1
  border-top: 4px solid #4F4F4F
  margin-top: 80px
  a, a:link
    color: #FFF
    text-decoration: underline
    &:hover
      color: #FFF
  .wrapper
    padding: 40px 0
    overflow: hidden
    .brand, .social, .contact
      +grid(4)
      font-size: 1em
      line-height: 1.4em
      p
        margin: 0
    .social
      text-align: center
    .contact
      text-align: right
      .phone
        span
          font-size: 1.4em
      .street
        margin-top: 10px

.arrow
  border-color: #FFF transparent transparent transparent
  border-style: solid
  border-width: 5px
  height: 0
  width: 0
  position: absolute
  top: 0
  left: 45%


.button
  cursor: pointer
  display: block
  padding: 5px 10px
  border: 1px solid #999
  border: 1px solid rgba(0, 0, 0, 0.2)
  float: left
  font-size: 12px
  text-align: center
  color: white !important
  background: #333
  +border-radius(5px)
  +transition(opacity 0.2s linear)
  +box-shadow(0 1px rgba(255, 255, 255, 0.4) inset, 0 1px #fff)
  +text-shadow(0 -1px rgba(0, 0, 0, 0.2))
  &:hover
    background: #222
