div
  .activity_id.hide= params[:id]

  javascript: 
    $(function () {
      var addToList = function(activityImageId, activityImageUrl) {
        return $(".images-list").append('<div class="image-item"><img class="image-thumb" height="75" src="'+activityImageUrl+'" width="100"><a href="/activity_images/'+activityImageId+'" data-method="delete" rel="nofollow">Remover</a></div>');
      };
      var uploader = new qq.FileUploader({
          // pass the dom node (ex. $(selector)[0] for jQuery users)
          element: document.getElementById('file-uploader'),
          // path to server-side upload script
          action: '/activity_images/upload',
          params: {authenticity_token: $("meta[name='csrf-token']").attr("content"), activity_id: $('.activity_id').html()},
          uploadButtonText: "Adicionar fotos",
          allowedExtensions: ['jpeg', 'jpg', 'gif', 'png'],
          acceptedFiles: "image/jpeg,image/gif,image/png",
          messages: {
                    typeError: "As extensões de arquivo permitidas são {extensions}.",
                    sizeError: "{file} é grande demais. O tamanho máximo é {sizeLimit}",
                    emptyError: "{file} está vazio, selecione os novamente os arquivos sem ele",
                    onLeave: "Há arquivos sendo enviados, se sair agora o envio será cancelado"
                    },
          onComplete: function(id, fileName, response) {
            if (response.success) {
              return addToList(response.activityImageId, response.activityImageUrl);
            }
          }
      });
      $(".qq-upload-button").addClass("btn btn-primary")
    });


  #file-uploader
    | Please enable JavaScript to use file uploader.

  .images-list
    - for image in Activity.find(params[:id]).activity_images
      .image-item
        = image_tag image.image.url, :class => 'image-thumb', size: '100x75'
        = link_to "Remover", main_app.activity_image_path(image), :method => :delete
  br/
