#contact
  overflow: hidden
  form

    .subject
      +grid(6)
      +alpha
      +omega
      ul
        +grid(3)
        +alpha
        li
          margin: 10px 0
          input
            float: left
    .your_data
      li
        float: left
        label
          float: left

